.root {
  background-color: aliceblue;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:hover {
     background-color: #cdd;
  }
  &.win {
    background-color: lightcoral;
  }
}
